@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i&display=swap');

.App {
  text-align: center;
  font-family: 'Lora', serif;

  background: url('/static/home-bg-desktop.jpg') no-repeat center center fixed;
  width: 100%;
  height: 100%;
  position: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-y: auto;
}

.Header {
  height: 120px;
  width: 100%;
}

.Monogram {
  position: relative;
  float: left;
  width: 6vw;
  min-width: 70px;
  top: 20px;
  left: 20px;
  opacity: 0.8;
}

.Monogram:hover {
  opacity: 1
}

.Nav {
  position: relative;
  top: 30px;
  right: 20px;
  float: right;
}

.Nav a {
  text-decoration: none !important;
}

.Nav .NavButton {
  display: inline-block;
  height: 45px;
  width: 90px;
}

.Nav span {
  display: table-cell;
  height: inherit;
  margin: auto;
  width: 50%;
  font-size: 23px;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
  color: white;
  vertical-align: middle;
}

.RSVPButton {
  border: 2px solid white;
  border-radius: 3px;
}

.RSVPButton:hover {
  opacity: 0.9;
}

.NavButton span:hover {
  opacity: 0.8;
}

.Title h1 {
  margin-bottom: 0;
  color: white;
}

@media (max-width: 640px) {
  .App {
    background: url('/static/home-bg-mobile.jpg') no-repeat center center fixed;
    background-size: 720px;
  }

  .Nav .NavButton {
    display: inline-block;
    height: 34px;
    width: 60px;
  }
  
  .Nav span {
    display: table-cell;
    height: inherit;
    margin: auto;
    width: 50%;
    font-size: 15px;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
    color: white;
    vertical-align: middle;
  }
  
  .RSVPButton {
    border: 2px solid white;
    border-radius: 3px;
  }
}