@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i&display=swap');

.App {
  text-align: center;
  font-family: 'Lora', serif;

  background: url('/static/home-bg-desktop.jpg') no-repeat center center fixed;
  width: 100%;
  height: 100%;
  position: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.Header {
  height: 120px;
  width: 100%;
}

.Monogram {
  position: relative;
  float: left;
  width: 6vw;
  min-width: 70px;
  top: 20px;
  left: 20px;
  opacity: 0.8;
}

.Monogram:hover {
  opacity: 1
}

.RSVPLink {
  text-decoration: none;
}

.RSVPButton {
  position: relative;
  top: 20px;
  right: 20px;
  border: 2px solid white;
  border-radius: 3px;
  width: 90px;
  height: 40px;
  float: right; 
}

.RSVPButton:hover {
  background-color: white;
  opacity: 0.9;
}

.RSVPButton span {
  display: table-cell;
  height: inherit;
  margin: auto;
  width: 50%;
  font-size: 18px;
  color: white;
  vertical-align: middle;
}

.RSVPButton span:hover {
  color: black;
}

@media (max-width: 1024px) {
  .App {
      background: url('/static/home-bg-mobile.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }
}