.container {
    margin: auto;
    max-width: 500px;
}

.container * {
    text-shadow: 1px 1px 1px black;
}

.row {
    margin: auto !important;
    max-width: 400px;
}

.When {
    position: relative;
    top: 25px;
    color: white;
    font-size: 21px;
    font-weight: bold;
    display: inline-block;
    max-width: 100%;
}

.When .Time {
    color: #ffffff;
    font-size: 25px;
}

.Where {
    position: relative;
    top: 25px;
    color: white;
    font-size: 21px;
    font-weight: bold;
    display: inline-block;
    max-width: 100%;
}

.Where .Address {
    font-size: 18px;
    color: #ebebeb;
}

.AdditionalInformation {
    margin-top: 160px !important;
    font-style: italic;
}

.AdditionalInformation p {
    color: white;
}

@media (max-width: 640px)  {
    .AdditionalInformation {
        margin-top: 125px !important;
    }

    .AdditionalInformation p {
        margin-top: 2px;
        margin-bottom: 2px;
        font-size: 14px;
    }
}
