@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap');

.Where {
    position: relative;
    top: 25px;
    color: white;
    font-family: 'Cormorant Garamond', serif;
    font-size: 21px;
    font-weight: bold;
    display: inline-block;
    max-width: 100%;
}

.Where .Time {
    color: #f9b862;
    font-size: 25px;
}

.Where .Address {
    font-size: 17px;
}

.Where iframe {
    width: 50vh;
    height: 40vh;
    min-width: 300px;
    min-height: 300px;
    max-width: 100%;
    margin-bottom: 50px;
    opacity: .85;
}