@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

.Form {
    font-family: 'Quicksand', sans-serif;
}

.FormRow {
    margin-top: 10px;
    margin-bottom: 10px;
}

label {
    float: left;
    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: 16px;
    margin-bottom: 1px !important;
}

.AgeGroup .col {
    text-align: right;
}