@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

.Banner {
    position: relative;
}

.Banner .PrimaryText {
    margin: 0 auto;
    max-width: 500px;
    text-shadow: 1.5px 1.5px 0 white;
    line-height: 112px;
}

.Banner .HighlightedText {
    color: white;
    font-style: italic;
    text-shadow: none;
}

.SecondaryText {
    position: relative;
    top: 150px;
    margin: auto;
    width: 100%;
    font-family: 'Playfair Display', serif;
    font-size: 21px;
    color: white;
}


@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

@media (max-width: 640px)  {
  .App {
    background: url('/static/home-bg-mobile.jpg') no-repeat center center fixed;
    background-size: 720px;
  }
  .SecondaryText {
    position: relative;
    top: 100px;
    margin: auto;
    width: 100%;
    font-family: 'Playfair Display', serif;
    font-size: 21px;
    color: white;
  }
}