.Form {
    position: relative;
    top: 6vh;
    width: 33%;
    min-width: 350px;
    margin: auto;
    opacity: .95;
    padding: 5px;
}

.Form .FormHeader {
    color: white;
    text-shadow: 2px 2px 4px black;
}

.Form .nav-link {
    font-weight: bolder;
    color: white !important;
    text-shadow: 1px 1px 2px black;
}

.Form .nav-link.active {
    color: black !important;
    text-shadow: none;
}

.Form .ModifyGuests {
    margin-top: 15px;
}

.FamilyId {
    max-width: 300px;
    margin: auto;
    margin-bottom: 30px;
}

.Submit {
    margin-top: 20px;
}