.Title h1 {
    font-size: 100px;
    margin-bottom: 0;
    color: white;
}

.Form {
    position: relative;
    top: 6vh;
    width: 32%;
    min-width: 350px;
    margin: auto;
    opacity: .95;
}

.Form .nav-link {
    font-weight: bolder;
    color: white !important;
}

.Form .nav-link.active {
    color: black !important;
}

.Submit {
    position: relative;
    top: 2vh;
}